{{ define "body" }}
<div class="base container">
    {{range $index, $element := .Resource.Routes}}
    <div class="row">
        <div class="col">
            <h2>{{$element.Method}} {{$element.Path}}</h2>

            <p>{{$element.Description}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col"><h3>Request</h3></div>
    </div>

    <div class="row">
        <div class="col">
            <h5>Headers</h5>

            {{range $key, $val := $element.Headers}}
            <pre><code>{{$key}}: {{$val}}</code></pre>
            {{else}}
            <p>None</p>
            {{end}}
        </div>

        <div class="col">
            <h5>Parameters</h5>

            {{range $key, $val := $element.Parameters}}
            <pre><code>{{$key}}: {{$val}}</code></pre>
            {{else}}
            <p>None</p>
            {{end}}
        </div>
    </div>

    {{range $index, $element := $element.Responses}}
    <div class="row">
        <div class="col"><h3>{{$element.Status}} - {{$element.Description}}</h3></div>
    </div>

    <div class="row">
        <div class="col-6">
            <h5>Headers</h5>

            {{range $key, $val := $element.Headers}}
            <pre><code>{{$key}}: {{$val}}</code></pre>
            {{else}}
            <p>None</p>
            {{end}}
        </div>

        <div class="col-6">
            <h5>Body</h5>

            <pre><code class="json">{{$element.BodyJSON}}</code></pre>
        </div>
    </div>
    {{end}}
    {{end}}
</div>
{{ end }}